:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --red: #DF2E38;
  --mint: #DDF7E3;
  --light-green:#C7E8CA;
  --green:#5D9C59;

  color-scheme: light dark;
  color: black;
  background-color: var(--mint);

}

a {
  font-weight: 500;
  color: white;

}
a:hover {
  color: var(--green);
}

body {
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--red);
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}



.title{
  border-bottom: solid;
}
img{
  width:200px
}
.cart{
  width: 40%;
}
.header{
  border-bottom: solid;
  
}
.menu{
  display: flex;
}
.menu-items{
  width: 40%;
}
.container{
  display: grid;
}
.tart{
  width: 30%;
  display: block;
  float: left;
}
.form{
  display: grid;
  width: 100%;
}
.customerName{
  width: 100%;
}
.selectContainer1{
  text-align: center;
  width: 20%;
  float: center;
}

.item-header{
  display: flex;
  text-align: center;
  float: center;
}
.center{
  float: center;
}
.fifty{
  width: 50%;
  float: left;
}
.forty{
  width: 50%;
  float: right;
}
.viewCartButtonContainer{
  float: right;
}
.items{
  width: 100%;
  display: block;
}
.item{
  float: left;
  width: 33%;
  display: block;
}
.cart-button{
  float: right;
  display: block;
}

.price{
  border: solid;
  width:10%;
}
.right{
  float: right;
}
textarea{
  width: 50%;
  height: 50px;
}